# Get a FREE token at https://www.mapillary.com/developer
# Create an app, copy the "Client Token", paste it below
# Then rename this file to .env and restart the dev server
VITE_MAPILLARY_TOKEN=your_mapillary_token_here
